@using T_shirt.Models.ViewModels
@model List<UserViewModel>


   <div style="width: 48rem;">
   <div>
      <div class="text-center">
          <h2>Users</h2>
      </div>
   </div>
</div>
<div>
   <div>
      <div class="text-center">
         <h2 class="display-6">
            Users List
         </h2>
      </div>
      <div>
      </div>
   </div>
   <table class="table table-striped">
      <thead class="table-light">
         <tr>
            <th>
               User Name
            </th>
              <th>
                Phone
            </th>
              <th>
                City
            </th>
              <th>
                Zip
            </th>
              <th>
                State
            </th>
              <th>
                Addresse
            </th>
              <th>
                Name
            </th>
            <th></th>
         </tr>
      </thead>
        <tbody class="table-light">
         @foreach(UserViewModel applicationUser in Model.OrderBy(u=>u.UserName))
         {
                @Html.Partial("_Users", applicationUser);

          } 
      </tbody>
   </table>
</div>
