@model List<Category>

<div style="width: 48rem;">
   <div>
      <div class="text-center">
         <h2 class="display-5">Create T-shirt</h2>
      </div>
   </div>
</div>
<div>
   <div>
      <div class="text-center">
         <h2 class="display-6">
            Category T-shirt List
         </h2>
      </div>
      <div>
         <a asp-controller="Category" class="btn btn-outline-info" asp-action="Create" style="float: right;">
         <i class="bi bi-sign-intersection"></i> Create New Category 
         </a>
      </div>
   </div>
   <table class="table table-striped">
      <thead class="table-light">
         <tr>
            <th>
               Category Name
            </th>
            <th>
               Display Order
            </th>
            <th></th>
         </tr>
      </thead>
      <tbody> 
     @foreach(Category category in Model.OrderBy(u=>u.DisplayOrder))
     {
                @Html.Partial("_Categories", category);               
     } 
      </tbody>
   </table>
</div>
