@model List<Product>

<div>
    <div>
        <div class="text-center">          
                <h2 class="text-center">Create T-shirt</h2>           
        </div>
    </div>
</div>
    <div>
        <div>
        <div class="text-center">
            <h3 class="display-6">
                    T-shirt List
                </h3>
            </div>
            <div>
                <a asp-controller="Product" asp-action="Update" class="btn btn-outline-info" style="float: left;">
                    <i class="bi bi-sign-intersection"></i> Create New Product
                </a>
            </div>
        </div>

    <table id="tableData" style="display: block;text-align:center" class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th>T-shirt</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Id</th>
                </tr>
            </thead>
        </table>
    </div>
            </div>

@section Scripts{
    <script src="~/js/product.js"></script>
}
